:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue-1: hsl(207, 26%, 17%);
  --color-very-dark-blue-2: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.u-display-flex {
  display: flex;
}

.u-justify-sb {
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 800;
}

.nav--right .darkmode {
  list-style: none;
  font-weight: 600;
}

.nav .toggle-darkmode {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-very-dark-blue-1);
}

.name-search-form {
  flex: 0 0 40%;
}
@media screen and (max-width: 37.5rem) {
  .name-search-form {
    flex: 0 0 100%;
    width: 100%;
  }
}
.name-search-form__input {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 37.5rem) {
  .name-search-form__input {
    width: 100%;
    padding: 2rem 1.5rem;
  }
}
.name-search-form__input:focus {
  border: none;
  outline: 0;
}

.filter-form {
  flex: 0 0 15%;
}
@media screen and (max-width: 37.5rem) {
  .filter-form {
    flex: 1 0 100%;
    margin-top: 3rem;
  }
}
.filter-form__filter {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.countries__flags {
  display: flex;
  flex-flow: row wrap;
}

.countries__flag {
  flex: 1 0 21%;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.08);
  margin: 3rem 1rem;
}
@media screen and (max-width: 37.5rem) {
  .countries__flag {
    flex: 0 0 90%;
  }
}

.countries__name {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.countries__flag-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media screen and (max-width: 37.5rem) {
  .countries__flag-image {
    width: 100%;
  }
}

.countries__short-details {
  padding: 2rem;
}

.countries__properties {
  list-style: none;
}

.countries__property {
  margin-bottom: 0.5rem;
}

.back-btn {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-very-dark-blue-2);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.country-details--left {
  flex: 0 0 50%;
  margin-right: 6rem;
}
@media screen and (max-width: 37.5rem) {
  .country-details--left {
    margin-right: 0;
  }
}

.country-details--right {
  flex: 0 0 50%;
}

.country-details__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media screen and (max-width: 37.5rem) {
  .country-details__title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
}

.country-details__flag {
  width: 100%;
}

.country-details__properties {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 37.5rem) {
  .country-details__properties {
    flex-direction: column;
  }
}
.country-details__properties--left {
  flex: 0 0 50%;
}
.country-details__properties--left > .item {
  margin-bottom: 1rem;
}
.country-details__properties--right {
  flex: 1;
}
.country-details__properties--right > .item {
  margin-bottom: 1rem;
}
@media screen and (max-width: 37.5rem) {
  .country-details__properties--right {
    margin-top: 3rem;
  }
}

.country-details__border {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}
@media screen and (max-width: 37.5rem) {
  .country-details__border h3 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .country-details__border {
    flex-direction: column;
    align-items: flex-start;
  }
}
.country-details__border-list {
  display: flex;
}
@media screen and (max-width: 37.5rem) {
  .country-details__border-list {
    flex-wrap: wrap;
  }
}
.country-details__border-list > .border-item {
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 37.5rem) {
  .country-details__border-list > .border-item {
    margin-left: 0;
    margin-top: 1rem;
  }
  .country-details__border-list
    > .border-item
    > .border-item:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.container {
  max-width: 128.5rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 37.5rem) {
  .container {
    max-width: 90%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 37.5rem) {
  .nav {
    padding: 4rem 2rem;
    font-size: 1.2rem;
  }
}

.countries {
  background-color: var(--color-very-light-gray);
  min-height: 90vh;
  padding: 3rem 0;
}
.countries__flags {
  margin-top: 3rem;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*LOADER
*/
.loader {
  color: #000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 37.5rem) {
  .forms-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.back {
  margin-top: 5rem;
  padding: 2rem 0;
}

.country-details {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 37.5rem) {
  .country-details {
    flex-direction: column;
  }
}
